:root {
    --font-sans: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --font-mono: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.container h1 {
    color: black;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 700;
    font-size: 4.75rem;
}

div.container h3 {
    color: black;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 700;
    font-size: 3.75rem;
}

div.container p {
    letter-spacing: -.02em;
    line-height: 1.6em;
    font-weight: 400;
    font-size: 1.4em;
}

ul {
    list-style: none;
}

a {
    color: 0A72EF;
}