body.markdown-body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

body.markdown-body img.profile {
    border: 1px solid #8b949e;
    border-radius: 50%;
    max-width: 120px;
}